body {
  font-family: "Avenir Next";
}

.category {
    margin-top: 20px;
}

.header {
  font-size: 24px;
}

.name {
  font-weight: bold;

}

.price {
  color: red;

}

.desc {

}

@media only screen and (max-width: 768px) {
  b {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  b {
    font-size: 10px;
  }
}
